@import 'tailwindcss';

:root {
  --beige: #faf0e4;
  --teal: #9bcdd2;
  --orange: #ff8551;
  --peach: #ffdede;
}

body {
  background: var(--orange);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.box-shadow {
  box-shadow: 2px 2px 2px black;
}
.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.teal-bg {
  background-color: var(--teal);
}

main:last-child {
  width: 100vw;
}

@media (min-width: 768px) {
  .image {
    width: 80%;
  }
}
